@font-face {
  font-family: "Golos Text";
  src: url("/fonts/golos-text/Golos-Text_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text Medium";
  src: url("/fonts/golos-text/Golos-Text_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
