body {
  font-family: $font-main;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
