@mixin media-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 15px;
}