.catalog-page {
  padding: 100px 0;

  @include media-up("desktop") {
    padding: 20px 0 40px;
  }

  &__container {
    @include container;
  }

  &__title {
    font-family: $font-medium;
    font-weight: $font-weight-medium;
    font-size: $font-size-h2;
    margin-bottom: 110px;
    text-align: center;

    @include media-up("desktop") {
      font-size: $font-size-h4;
      margin-bottom: 40px;
    }
  }

  &__grid {
    @include grid(1, 40px);
    margin-bottom: 110px;
    grid-template-columns: repeat(4, 1fr);

    @include media-up("tablet") {
      @include grid(1, 20px);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__loader {
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
  }

  &__error {
    text-align: center;

    p {
      padding: 10px 0;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__retry {
    text-align: center;
    padding: 10px 24px;
    line-height: 20px;
    border: 1px solid $color-black;
    transition: background-color 0.2s;
  }

  &__button {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 24px;
    line-height: 20px;
    border: 1px solid $color-black;
    transition: background-color 0.2s;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
