.home {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;

  @include media-up("desktop") {
    padding: 80px 0;
    height: calc(100vh - 60px);
  }

  &__container {
    @include container;

    @include media-up("desktop") {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__title {
    font-family: $font-medium;
    font-weight: $font-weight-medium;
    font-size: $font-size-h1;
    font-weight: $font-weight-medium;
    margin-bottom: 40px;

    @include media-up("desktop") {
      font-size: $font-size-h3;
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 28.5px;
    background-color: $color-red;
    color: $color-white;
    line-height: 20px;
    transition: background-color 0.2s;
  }
}
